.navbar {
    /*gives width, height and color*/
    width: 100px;
    height: 100px;
    background: #edbff9;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif ;
    font-size: 25px;
}
