.map {
    /* mess around with padding and margin later to make room for search bar */
    width: 100vw;
    height: calc(vw);
    background-color: #9d84ac;
    font-family: 'Mirza', serif;
    /* margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin: 0;
    padding: 0;
  }
  
  .map {
    /* position: absolute; */
    width: 95vw;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }