.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns to the left*/
    margin: 20px;
    margin-right: 10px;
  }
  
  .SearchBar input {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .SearchBar ul {
    list-style: none;
    padding: 0;
  }
  
  .SearchBar li {
    margin-bottom: 5px;
  }

  .datepick {
    /* flex-direction: column; */ /* aligns to the left*/
    margin: 20px;
    position: absolute;
    left: 200px;
    /* overflow: visible; */
    z-index: 2000;
  }